<div>
  <div class="header">
    <h1>Ecuation Systems Solver</h1>
  </div>
  
  <main class="main-container">

    <div class="main-description">
      <p>
        Select the variables number of your ecuation system and a mehtod to show it's first step. 
        Then fill in the fields with the coefficients of their variables
      </p>
    </div>


    <div class="option-menu">

      <!-- Method selection -->
      <button class="btn btn-secondary dropdown-toggle btn-spacing" type="button" id="dropdownMethodMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Method - {{variablesNumber}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMethodMenuButton">
        <a *ngFor="let item of literals | slice:1:7 ; let i = index" (click)="setNumberOfVariables(i + 2)" class="dropdown-item">{{i + 2}}</a>
      </div>

      <!-- Number of variables selection -->
      <button class="btn btn-secondary dropdown-toggle btn-spacing" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Number of variables - {{variablesNumber}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a *ngFor="let item of literals | slice:1:7 ; let i = index" (click)="setNumberOfVariables(i + 2)" class="dropdown-item">{{i + 2}}</a>
      </div>
  
    </div>
  
    <div class="ecuations-grid">

      <div class="ecuation-row" *ngFor="let li of selectedLiterals; let i = index">
        <div class="value-container" *ngFor="let literal of selectedLiterals; let i2 = index"> 
          <input type="number" [(ngModel)]="matrix[i][i2]" >
          <p>{{literal}}</p>
        </div>
        <p class="equal-bold-text"> = </p>
        <input class="independent-input" type="number"[(ngModel)]="matrix[i][variablesNumber]">
      </div>
  
      <button class="primary-btn" (click)="solve()"> Solve </button>


    </div>
    

  </main>
</div>